@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    margin: 0%;
    padding: 0%;
}

/* Text-Colors */
.text-white {
    color: rgb(255, 255, 255);
}

.text-grey {
    color: rgba(255, 255, 255, 0.5);
}

/* header styles */
.heading-part {
    background: linear-gradient(180.00deg, rgb(37, 37, 37), rgba(119, 119, 119, 0) 100%), black;
    padding: 50px 240px;
}

/* Nav Related Styles */
.fitness-logo {
    color: rgb(230, 83, 60);
    font-size: 2.5em;
    font-weight: 800;
    font-style: italic;
}

nav>ul {
    display: flex;
    /* gap: 3rem; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: 0 10px;

}

nav li {
    list-style: none;
    margin-right: 30px;
    padding: 12px;
    font-size: 1.3rem;
    font-weight: 400;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s;
}


nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10px; */
}


/* banner styles */
.shape-font {
    font-family: cursive;
}

.banner {
    display: flex;
    justify-content: center;
    gap: 9rem;
}

.banner-contents {
    max-width: 100%;
    margin: 0 auto;
}

.banner-title,
.habit-title {
    font-size: 4.8rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.banner-btn {
    display: flex;
    gap: 0.5rem;
}

.banner-image-part {
    display: flex;
    flex-direction: column;
    /* margin-top: 10%; */
    position: relative;
    /* margin-bottom: 50px; */
}

.banner-image {
    width: 100%;
    /* height: auto; */
}

.dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}

#image350 {
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 50%;
    /* margin-top: -9.9rem; */
}

#image500 {
    font-size: 2rem;
    position: absolute;
    right: -10%;
    top: 30%;
    /* bottom: 2%; */
    /* margin-top: 50px;
    margin-bottom: -300px;
    margin-left: 250px; */
}

.banner-description,
.habit-des {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(150, 146, 146, 0.562);
}

.btn,
.red-btn {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2.3rem;
    border-radius: 42px;
    background: rgb(230, 83, 60);
}

.red-btn {
    border: none;
}

.btn {
    border-color: aliceblue;
    background-color: rgba(255, 255, 255, 0)
}

.trans-btn {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    width: 9rem;
    /* height: 4.5rem; */
    backdrop-filter: blur(20px);
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    text-align: left;

}

.trans-btn h3 {

    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 0;
}

.trans-p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
}

@media screen and (max-width: 576px) {

    /* Banner and Navbar */
    .banner {
        flex-direction: column;
        margin-left: 0;
    }

    body {
        margin-right: 0;
    }

    .banner-title {
        font-size: 2.8rem;
    }

    .heading-part {
        padding: 20px;
    }

    .hamburger-icon {
        display: inline-block;
    }

    .banner-image-part {
        width: 80%;
        margin-top: -7rem;

    }

    .nav-btn-container {
        display: none;
    }

    .btn,
    .red-btn {
        font-size: 0.7rem;
    }

}

/* Banner Ends */

/* Habit Section Related Styles */
.habit {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-title {
    font-size: 3rem;
}

.habit-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.habit-img img {
    border-radius: 50%;
    border: 2px solid gray;
}

.habit-img {
    text-align: center;
    padding: 20%;
}

@media screen and (max-width: 576px) {
    .habit-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit-img {
        padding: 5px;
    }

    .habit-title,
    .habit-des {
        text-align: center;

    }

    .habit {
        padding: 10%;
    }
}

/* Habit Style Section Ends */

/* Run Section Styles */
.run {
    background-color: rgb(34, 34, 34);
    display: flex;
    width: 70%;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
}

.run-img {
    display: flex;
    justify-content: center;
}

.run-img img {
    width: 80%;
    /* height: 312px; */
    border-radius: 18px;
    margin-bottom: 0.5rem;
}

.run-contents {
    text-align: left;
    padding: 0% 8% 2%;
    letter-spacing: 0.3px;
}

.run-bg {
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

.run-title {
    font-size: 3rem;
}

@media screen and (max-width: 576px) {
    .run {
        flex-direction: column;
    }

    .run-title {
        font-size: 2rem;
    }

    .run-contents {
        width: %;
    }

    .join-now-btn {
        width: 100%;
    }
}

/* Run Section Ends */

/* BMI Calculator Style */
.bmi-section {
    /* background-color: black; */
}

.bmi-title,
.team-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 3rem 0 0 0;
}

.chart-table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.418);
    padding: 0.4rem;
}

.calc {
    display: flex;
}

.bmi-heading {
    padding: 0.5rem;
    text-align: left;
    margin: 0% 20%;
}

.calc {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 5%;
}

.bmi-chart {
    width: 50%;
    /* padding: 0 2% ; */
    margin-left: 3rem;
}

.bmi-calc {
    width: 50%;
    /* padding: 2%; */
}

.calc-input {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    width: 17rem;
    height: 3rem;
    border: none;
    margin: 5px;
    padding-left: 1rem;
}

.calc-input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.calculate-btn {
    margin-top: 2rem;
}

@media screen and (max-width: 576px) {
    .calc-input-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin-left: 3.5rem;
    }

    .calc {
        flex-direction: column;
    }
}

/* BMI Styles Ends */

/* Team Styling Starts */
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    background-color: rgb(34, 34, 34);
    background-size: cover;
    width: 75%;
    overflow: hidden;
    border-radius: 18px;
    padding: 20px;
}

.team-img img {
    width: 20rem;
    max-height: 17rem;
    border-radius: 18px;
    padding: 5px;
}

.team-img {
    position: relative;
}

.team-info {
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    padding: 5px;
    border-radius: 2px;
}

.team-name,
.team-job {
    margin: 0;
}

@media screen and (max-width:576px) {
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-img img {
        width: 95%;
        object-fit: cover;
    }
}

/* footer */
footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer {
    /* background-color: aqua */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0 0 0;
    padding: 1rem;
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    margin: 2rem;
}

.started-section {
    margin: 2rem;
}

.footer-logo .fitness-logo {
    font-size: 4rem;
}

.started-section li {
    list-style: none;
    margin-bottom: 10px;
}

.started-section ul {
    margin: 0;
    padding: 0;
}

.footer-line {
    width: 80%;
    margin-bottom: 1rem;
}

.footer-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    height: 24px
}

@media screen and (max-width: 576px) {
    .footer {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }
}

/* footer finished */